snippet #md "My markdown meta header"
---
author: Matthias Dold
date: `date +%Y%m%d`
comment: ${1:Comment}
---
endsnippet	


snippet `` "Code block"
```` ${1: what_code}
${2:the_code}
````
endsnippet
